{% extends "base.html" %}


{% block content %}
{% load static %}

<html>
    <head>
        <title>Housing Analtics</title>
    
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

        <h1>About Us</h1>

    
        <p>
        A web application tht aims to connects industry and communities to the best available data, analytics and insights to assist in solving the challenges facing Australia’s housing future.
       

        <figure style = "margin-left:auto; margin-right:auto">
          <img src = "{% static 'images/home_page.png' %}"  alt="House" width= 1200px height= 400px>
        </figure>

        <br>
        <br>
        <br>
        <br>
        <br>

    
        <h2>Contact Details</h2>
        
        <p>Telephone: 1800 548 797</p>
        <p>Email: <a href="">HA@studiomanagement.com.au</a>

        <br>
        <br>
        <br>
        
    
        
        <h1> Customer Service Hours</h1>
  
        <table class = "center">
          <tr>
            <th>Day</th>
            <th>Hours</th>
          
          </tr>
          <tr>
            <td>Sunday</td>
            <td>Closed</td>
        
          </tr>
          <tr>
            <td>Monday</td>
            <td>6:00am - 1:00pm</td>
        
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>6:00am - 3:00pm</td>
        
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Closed</td>
        
          </tr>
          <tr>
            <td>Thursday</td>
            <td>6:00am - 7:00am</td>
        
          </tr>
          <tr>
            <td>Friday</td>
            <td>6:00am - 6:30am</td>
        
          </tr>
           </tr>
          <tr>
            <td>Saturday</td>
            <td>Closed</td>
        
          </tr>
        </table>

    
        
        <br>



        </p>
        Login to be able to access special features.
        </p>
				<div class="d-flex justify-content-center links">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a>
				</div>
  
          
        
        
        <br>
        <br>
        <br>
        <br>
        <br>
  
        
           
        <p style ="text-align: center">© HOUSING ANALYTICS</p>
          
      
        
    



{% endblock %}