{% extends "base.html" %}


{% block content %}
{% load static %}

<html>
    <head>
        <title>Housing Analtics</title>
    
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>

        <h1>About Us</h1>

    
        <p> 
        HA is a new innovative web application that allow users to be able to view Housing Analytics in real time.</p>
        <p>
        Create an account today to be able to access special features.
        </p>
        <h2>Contact Details</h2>
        
        <p>Telephone: 1800 548 797</p>
        <p>Email: <a href="">HA@studiomanagement.com.au</a>
        
    
        
        <h1> Customer Service Hours</h1>
  
        <table class = "center">
          <tr>
            <th>Day</th>
            <th>Hours</th>
          
          </tr>
          <tr>
            <td>Sunday</td>
            <td>9:00am - 3:00pm</td>
        
          </tr>
          <tr>
            <td>Monday</td>
            <td>6:00am - 5:00pm</td>
        
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>6:00am - 5:00pm</td>
        
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>Closed</td>
        
          </tr>
          <tr>
            <td>Thursday</td>
            <td>6:00am - 3:00pm</td>
        
          </tr>
          <tr>
            <td>Friday</td>
            <td>6:00am - 4:00pm</td>
        
          </tr>
           </tr>
          <tr>
            <td>Saturday</td>
            <td>9:00am - 3:00pm</td>
        
          </tr>
        </table>
        
        
        
        <br>
        <br>
        <br>
        <br>
        <br>
  
        
           
        <p style ="text-align: center">© HOUSING ANALYTICS</p>
          
      
        
    



{% endblock %}