{% extends "base.html" %}


{% block content %}
{% load static %}
    <html>
        <head>
            <title>Housing Homepage</title>
        
            <link rel="stylesheet" type ="text/css" href="{% static 'css/home.css' %}"/>
         
        </head>
            
        <div class ="home-body">

            <div class="welcome-class">
            
                <h1>Welcome to Housing Analytics!</h1>

                <p> Housing Analytics is a data management system and data visualisation web application that allows for greater insights into the housing market in Australia. </p>            
            </div>
            
            <br>

            <figure style = "margin-left:auto; margin-right:auto">
                <img src = "{% static 'images/homes2.jpg' %}"  alt="House" width= 800px height= 450px>
            </figure>

            <br>
            <br>
            <br>


            <div style = "position: center">
                <div class="contact-class"></div>
                    <h4><a href="{% url 'contact' %}">Contact Us</a></h4>
                </div>
               
                <br>
                <br>
                <br>
                <br>
                <p style ="text-align: center">© HOUSING ANALYTICS</p>
                
            
            </div>



            
            
            </div>
        
        </div>            
        
    
{% endblock %}