{% extends "base.html" %}


{% block content %}

<div class="container">
    <div style="display:inline-block; vertical-align:top; width:700">
        {{ m|safe }}
    </div>


<div class="container">
  <div style="display:inline-block; vertical-align:top; width:700">
    <div style="display:inline-block; float:right">
        <form class="form" method="post">
            {% csrf_token %}

            <div style="display:inline-block; margin-bottom:10px;">
                <input class="form-control mr-sm-2" type="search" name="propertyCategory" placeholder="House or Apartment" aria-label="Search">
            </div><br>

            <div style="display:inline-block; margin-bottom:10px;">
                <input class="form-control mr-sm-2" type="search" name="bedrooms" placeholder="Bedrooms" aria-label="Search">
            </div><br>

            <div style="display:inline-block; margin-bottom:10px;">
                <input class="form-control mr-sm-2" type="search" name="state" placeholder="State" aria-label="Search">
            </div><br>

            <div style="display:inline-block; margin-bottom:10px;">
                <input class="form-control mr-sm-2" type="search" name="suburb" placeholder="Suburb" aria-label="Search">
            </div><br>

            <div style="display:inline-block; margin-bottom:10px;">
              <input class="form-control mr-sm-2" type="search" name="postcode" placeholder="Postcode" aria-label="Search">
          </div><br>
            <br>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</div>
   
    <p style ="text-align: center">© HOUSING ANALYTICS</p>

{% endblock content %}