{% extends "base.html" %}

{% block content %}
  <form class="form" method="post">
    {% csrf_token %}
    <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>

  <div class="container">
      <div class="row mt-4">
        <div class="col-md-10 offset-md-1">
            {{ m|safe }}
        </div>
    </div>
  </div>

  
  <br>
  <br>
  <br>
  <br>
  <br>

  
     
  <p style ="text-align: center">© HOUSING ANALYTICS</p>
{% endblock %}
